/* https://cdn.wallpapersafari.com/60/61/ApeKRU.jpg */
/* https://backiee.com/static/wallpapers/560x315/150785.jpg */
.stApp {
    /* background-color: #2b2b2b; */
    /* background: linear-gradient(to bottom, #000000, #1f1f1f); */
    background: 
    linear-gradient(to bottom, #00000069, #00000069),
    url("https://cdn.wallpapersafari.com/60/61/ApeKRU.jpg ");
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden; 
}

/* Font Family Setup */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

html, body, .stApp, h1, h2, h3, h4, h5, h6, p, span, div, button, textarea, input {
    font-family: 'Comic Neue', cursive, sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Remove top padding from Streamlit container */
[data-testid="stAppViewContainer"] > .main {
    padding-top: 0rem;
}
/* Hide Streamlit Header */
header[data-testid="stHeader"] {
    height: 0rem;
    visibility: hidden;
}
.smooth{
  transition: all ease-in-out 0.5s;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    /* border-bottom: 1px solid #ffffff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.893);
    margin: 0;
    box-sizing: border-box;
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.nav-links a {
    color: #ffffff;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.befaft {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.befaft:hover{
    color: #ffffff;
}

.befaft::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
}

.befaft:hover::after{
  animation: wztoh 0.3s ease-in-out 1;
  width: 100%;
}

.befaft:active:after{
  background: #ffffff;
}

.st-key-main-container {
    padding: 30px;
    background-color: #000000ee;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.stFileUploader section {
    background-color: #ffffff30;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.stFileUploader section:hover {
    background-color: #000000;
    transition: all 0.5s ease-in-out;
}

.stFileUploader section button {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.stFileUploader section button:hover {
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #ffffff;
    transition: all 0.5s ease-in-out;
}


.stButton button {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.stButton button:hover, .st-emotion-cache-ktz07o:focus:not(:active){
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #ffffff;
    transition: all 0.5s ease-in-out;
}


.st-key-sub-container-2 .st-key-bleep-words-local div div textarea{
    background-color: #00000030;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.st-key-sub-container-2 .st-key-bleep-words-local div div textarea:focus{
    background-color: #000000;
    transition: all 0.5s ease-in-out;
}

.st-emotion-cache-ocqkz7 {
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.st-ce .st-b6 {
    background: #ffffff30;
}

.st-ce .st-b6:active{
    background: #000000;
    border: 3px solid #ffffff;
}

/* .st-ce .st-dq :focus-within{
    background: #000000;
    border: 3px solid #ffffff;
} */

.st-dq, .st-do, .st-dp, .st-dn {
    background: #000000;
    border: 3px solid #ffffff;
}

@keyframes wztoh {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

body {
    background: #141416;
    color: #fff;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff69;
}